<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="target" class="com.mykumi.designpattern.decorator.OrignalClass"></bean>

	<bean id="wrapperClassDecorator" class="com.mykumi.designpattern.decorator.WrapperClass">
		<property name="iComponent" ref="target"></property>
	</bean>
	
	<bean id="wrapperClass2Decorator" class="com.mykumi.designpattern.decorator.Wrapper2Class">
		<property name="iComponent" ref="wrapperClassDecorator"></property>
	</bean>	

</beans>
