<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://54.64.47.206/mykumidb"></property>
		<property name="username" value="dbuser"></property>
		<property name="password" value="dbuser1*"></property>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
		
	<bean id="userService" class="com.mykumi.springlab.chat01.user.service.UserService">
		<property name="userDao" ref="userDao"></property>
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="mailSender" ref="mailSender"></property>
	</bean>
	<bean id="userDao" class="com.mykumi.springlab.chat01.UserDaoJdbc">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="mailSender" class="com.mykumi.springlab.chat01.user.service.DummyMailSender">
		<property name="host" value="mail.server.com"></property>
	</bean>
</beans>
